@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<hmtl>
    <head> 
        <title> Page title</title>
    </head>
    <body>
        <div class="text-center">
        <h1 class="display-4">Welcome my friend</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <h1>This is heading 1</h1>
    <h2>heading 2</h2>
    <h3> heading 3</h3>
    <form>
        <input type="text" value= "input Name">
        <input type="submit" title="Submit" />
        </form>
    <p> this is a paragraph</p>
    <a href ="https://www.vnexpress.net"> This is VNEXPRESS link</a>
    </body>
    <footer> 
        <div> <p> Demo project</p></div> 
    </footer>
    

</hmtl>



