@page
@model Web_KTLT_2022.Pages.MH_TinhKhoangCach2DiemModel
@using Web_KTLT_2022.Entities
@using Web_KTLT_2022.Services
@{

    string Chuoi = string.Empty;
}
    <body>
    <div>
        <h2> Tinh khoang cach 2 diem</h2>

        <form method="POST">
        <label style="font-size:4ch">Nhap diem 1</label> <br />
        <label for="Ax"> Nhap Ax: </label> <br />
        <input type="text" id="tuA" name="Ax" value=@Model.A.x /> <br />
        <label for="Ay">Nhap Ay: </label><br />
        <input type="text" id="mauA" name="Ay" value= @Model.A.y /> <br />
        <label style="font-size:4ch">Nhap diem 2</label> <br />
        <label for="Bx"> Nhap Bx: </label> <br />
        <input type="text" name="Bx" value=@Model.B.x> <br />
        <label for="By">Nhap By: </label><br />
        <input type="text" name="By" value= @Model.B.y /> <br />
        <input type="submit" value="Luu" />
        </form>
    </div>    
    <h2> @Model.Chuoi</h2>
</body>


